/** Color scheme : dark green #283618, sage green #606C38,
 brown #BC6C25, tan #DDA15E, white-tan #FEFAE0
**/

html {
    background-color: #FEFAE0;
    color: #BC6C25;
    box-sizing: border-box;
    width: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #283618;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto .55rem auto;
    padding: 0;
    align-items: center;
    justify-content: space-around;
}

header img {
    text-align: center;
    width: 15rem;
    height: auto;
    margin: 1.25rem 2rem;

}
/**hero **/ 
.slideshow-container{
    max-width: 1200px;
    position: relative;
    margin: auto;
}
.mySlides {
    display:none;
}
/**next and prev buttons **/ 
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top:-22px;
    padding: .75rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.4)
}
.hero-media



 p{
    font-size: 1.25rem;
    margin-bottom: 0;
}
nav {
    background-color: #283618;
    color: #FEFAE0;
    margin: 0 2rem;
  
}

nav li {
    list-style-type: none;
    text-align: right;
    padding: .5rem auto;
    margin-bottom: .6rem;
    font-size: 1.5rem;
    width: 6rem;
}
nav a {
    text-decoration: none;
    color: #BC6C25;
}
nav a:hover{
    font-weight: bolder;
    font-size: 1.75rem;

}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

section {
    background-color: #DDA15E;
    padding: .75rem 2rem;
    margin: 0 .25rem .55rem .25rem;
}

table,
tr {
    border: 2px solid #283618;
}

td {
    border: 1px solid #283618;
}


/** about page **/ 
.member-bios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bio {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.member-bios img{
height: 20rem;
width: auto;
}
.member-bios fieldset {
    border-radius: 5%;
    margin: 2% 2%;

}