/** Color scheme : dark green #283618, sage green #606C38,
 brown #BC6C25, tan #DDA15E, white-tan #FEFAE0
**/

html {
    background-color: #FEFAE0;
    color: #BC6C25;
    box-sizing: border-box;
    width: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #283618;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto .55rem auto;
    padding: 0;
    align-items: center;
    justify-content: space-around;
}

header img {
    text-align: center;
    width: 15rem;
    margin: 1.25rem 2rem;

}

h1{
    font-size: 2.5rem;
    margin: 0 auto;
}
header p{
    font-size: 1.25rem;
    margin-bottom: 0;
}
nav {
    background-color: #283618;
    color: #FEFAE0;
    margin: 0 2rem;
  
}

nav li {
    list-style-type: none;
    text-align: right;
    padding: .5rem auto;
    margin-bottom: .6rem;
    font-size: 1.5rem;
    width: 6rem;
}
nav a {
    text-decoration: none;
    color: #BC6C25;
}
nav a:hover{
    font-weight: bolder;
    font-size: 1.75rem;

}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

section {
    background-color: #DDA15E;
    padding: .75rem 2rem;
    margin: 0 .25rem .55rem .25rem;
}

table,
tr {
    border: 2px solid #283618;
}

td {
    border: 1px solid #283618;
}


/** about page **/ 
.member-bios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bio {
    width: 47%;
    display: flex;
    flex-direction: row;
}
.member-bios img{
width: 12rem;
}