/** color scheme 
tan eae2b7
yellowish fcbf49
orange f77f00
red d62828
navy 003049

**/

html {
    box-sizing: border-box;
    font-size: 2vw;
    background-color: #eae2b7;


}

/** tenative repsonsive design **/
@media only screen and (max-width: 600px) {
    body {
        font-size: 2.5vw;
    }
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 1.8vw;
    }
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 1.5vw;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 1.2vw;
    }
}

body {
    margin: 0;
    margin-bottom: 22vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero {
    background-color: #003049;
    color: #f77f00;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hero img {
    width: 25vw;
}

.hero .mission {
    font-size:3.5vw ;
    text-align: center;
    font-style: italic;
    width: 25vh;
}
.header-contact {
    text-align: center;
    
}
.hero h2 {
    width: 25vw;

}
.header-contact a {
    text-decoration: none;
    color: #f77f00;

}
.header-contact a:hover{
    color: #d62828 ;
}
.logo {
    width: 3vw;
}

/** nav bar (fixed at bottom of screen)**/
nav {
    background-color: #003049;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    padding: 3vh 2vw;
}

nav ul {
    display: flex;
    justify-content: space-evenly
}

nav li {
    display: inline-block;
    list-style-type: none;
    text-align: center;

}

nav a {
    text-decoration: none;
    color: #f77f00;
    padding: 2.75vh;
    font-weight: bold;
    letter-spacing: 6%;
}

/**portfolio **/ 
.projects-grid{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-row: 30%;

}
.grid-item img{
    width: 90%; 
    height: auto;
}