/*#Primary color: Dark blue (#1F1E2E) - conveys professionalism, trust, and sophistication.
Secondary color: Light gray (#D6D6D6) - provides a neutral background color that complements the primary color.
Accent color: Orange (#FFA500) - adds a pop of color and energy to the website, and also complements the blue primary color.
*/
* {
  font-family: "Rockwell", Arial, Helvetica, sans-serif;
  box-sizing: border-box;

}

html {
  background-color: #D6D6D6;
}

body {

  margin: 0 auto;
  padding: 0 50px;
  max-width: 100%;
}

header {
  background-color: #1F1E2E;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}

h1 {
  text-align: center;
  font-size: 2rem;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 5px;
}

.logo{
  margin: 20px;
}

.title {
  text-align: center;
  margin: auto;
  font-size: 2rem;
  width: 68%;
  height: auto;
  max-width: 100%;
}

.title p {
  font-size: 1.5rem;
  margin-top: -20px;
}
/* nav bar */
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px;
  background-color: #FFA500;
  color: #fff;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
/* hero image */
figure{
  margin: 0 auto;
  
}
figure img{
  width: auto;
height: 650px;


}
figcaption {
  font-weight: 800;
  position: relative;
  bottom: 100px;
  left: 10px;
  color: antiquewhite;
  font-size: 2.5rem;
  width: 80%;
}
/*products section */

.product{
  display: inline-block;

}
.products img{
  
  border: 10px solid #1F1E2E;
  display: inline-block;
}
button {
  background-color: #FFA500;

  padding: 18px;
margin: 10px auto;
}

button a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1rem;
font-family: monospace, Geneva, Tahoma, sans-serif;
letter-spacing: 1px;
font-weight: 600;
}



.showroom img {
  width: 350px;
  height: auto;
  margin: 0 auto;
}
/* footer */
.footer-bottom a {
  display: block;
}

footer {
  background-color: #1F1E2E;

  margin-top: 20px;
}

/* products css */
h2 {
  margin: 25px auto;
  text-align: left;

}
.ba {
  background-color: #BCAAA4;
  padding: 20px;
}

/* about */
.about img {
  width: 450px;
  height: auto;
}

.about p {
  font-size: 1.5rem;
}